In [16]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [17]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Channel-Port Aux Basques,100,CA,2022-01-31 21:45:05,67,47.5702,-59.1367,22.78,22.37
1,1,Hermanus,14,ZA,2022-01-31 21:47:04,83,-34.4187,19.2345,74.89,9.35
2,2,Tessalit,49,ML,2022-01-31 21:48:08,12,20.1986,1.0114,67.14,10.49
3,3,Lagoa,26,PT,2022-01-31 21:48:08,79,39.0500,-27.9833,58.69,24.38
4,4,Nuuk,100,GL,2022-01-31 21:48:09,63,64.1835,-51.7216,20.01,4.61

In [18]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [19]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
7,7,Hobart,20,AU,2022-01-31 21:44:27,76,-42.8794,147.3294,75.06,1.01
8,8,Isangel,100,VU,2022-01-31 21:47:12,94,-19.5500,169.2667,80.71,5.75
10,10,Dagua,100,CO,2022-01-31 21:48:12,94,3.6569,-76.6886,82.90,3.69
14,14,Kapaa,0,US,2022-01-31 21:47:36,70,22.0752,-159.3190,78.12,1.01
19,19,Ler,96,SS,2022-01-31 21:48:17,16,8.3018,30.1418,78.17,9.82
23,23,Ahuimanu,40,US,2022-01-31 21:48:20,66,21.4447,-157.8378,79.20,1.99
24,24,Tefe,20,BR,2022-01-31 21:48:21,70,-3.3542,-64.7114,89.71,4.61
25,25,Namatanai,100,PG,2022-01-31 21:48:21,80,-3.6667,152.4333,80.46,3.27
27,27,Kinango,96,KE,2022-01-31 21:48:22,93,-4.1372,39.3153,75.31,2.01
29,29,Avarua,75,CK,2022-01-31 21:43:53,83,-21.2078,-159.7750,78.85,5.75

In [26]:
preferred_cities_df.count()

City_ID       163
City          163
Cloudiness    163
Country       163
Date          163
Humidity      163
Lat           163
Lng           163
Max Temp      163
Wind Speed    163
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
7      Hobart      AU     75.06 -42.8794  147.3294
8     Isangel      VU     80.71 -19.5500  169.2667
10      Dagua      CO     82.90   3.6569  -76.6886
14      Kapaa      US     78.12  22.0752 -159.3190
19        Ler      SS     78.17   8.3018   30.1418
23   Ahuimanu      US     79.20  21.4447 -157.8378
24       Tefe      BR     89.71  -3.3542  -64.7114
25  Namatanai      PG     80.46  -3.6667  152.4333
27    Kinango      KE     75.31  -4.1372   39.3153
29     Avarua      CK     78.85 -21.2078 -159.7750

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Hobart,AU,75.06,-42.8794,147.3294,Mantra on Collins Hobart
8,Isangel,VU,80.71,-19.5500,169.2667,Tanna Lodge
10,Dagua,CO,82.90,3.6569,-76.6886,Hostal Río Dagua
14,Kapaa,US,78.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
19,Ler,SS,78.17,8.3018,30.1418,
23,Ahuimanu,US,79.20,21.4447,-157.8378,Paradise Bay Resort
24,Tefe,BR,89.71,-3.3542,-64.7114,Aracati Hotel
25,Namatanai,PG,80.46,-3.6667,152.4333,Seagulls Inn Namatani
27,Kinango,KE,75.31,-4.1372,39.3153,Legacy Hotel
29,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))