## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Asnaes,DK,55.8123,11.5013,34.05,91,99,1.99,overcast clouds
1,1,Dolores,AR,-36.3132,-57.6792,63.19,47,35,8.59,scattered clouds
2,2,Port Hedland,AU,-20.3167,118.5667,82.45,89,100,4.61,overcast clouds
3,3,Tual,ID,-5.6667,132.7500,83.91,74,100,20.29,overcast clouds
4,4,Te Anau,NZ,-45.4167,167.7167,70.72,48,87,2.04,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Port Hedland,AU,-20.3167,118.5667,82.45,89,100,4.61,overcast clouds
3,3,Tual,ID,-5.6667,132.7500,83.91,74,100,20.29,overcast clouds
23,23,Hilo,US,19.7297,-155.0900,80.26,67,32,4.00,scattered clouds
24,24,Hobart,AU,-42.8794,147.3294,80.02,66,20,1.01,few clouds
29,29,Kununurra,AU,-15.7667,128.7333,80.58,83,40,12.66,scattered clouds
38,38,Hithadhoo,MV,-0.6000,73.0833,82.20,74,22,9.35,few clouds
48,48,Vaini,TO,-21.2000,-175.2000,84.36,79,40,8.05,scattered clouds
69,69,Balabac,PH,7.9868,117.0645,81.00,79,85,13.02,overcast clouds
73,73,Gold Coast,AU,-28.0000,153.4333,87.39,77,81,5.99,broken clouds
76,76,Flinders,AU,-34.5833,150.8552,85.05,75,11,7.00,few clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             81
City                   81
Country                81
Lat                    81
Lng                    81
Max Temp               81
Humidity               81
Cloudiness             81
Wind Speed             81
Current Description    81
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(subset = ['Country'])
clean_df.reset_index(drop=True)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,2,Port Hedland,AU,-20.3167,118.5667,82.45,89,100,4.61,overcast clouds
1,3,Tual,ID,-5.6667,132.7500,83.91,74,100,20.29,overcast clouds
2,23,Hilo,US,19.7297,-155.0900,80.26,67,32,4.00,scattered clouds
3,24,Hobart,AU,-42.8794,147.3294,80.02,66,20,1.01,few clouds
4,29,Kununurra,AU,-15.7667,128.7333,80.58,83,40,12.66,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
76,666,Libertador General San Martin,AR,-23.8064,-64.7876,80.98,71,96,3.60,overcast clouds
77,668,Sinaloa,MX,25.0000,-107.5000,80.11,30,29,5.99,scattered clouds
78,676,Mareeba,AU,-17.0000,145.4333,83.48,87,86,6.26,overcast clouds
79,682,Paracuru,BR,-3.4100,-39.0306,82.42,76,43,11.77,scattered clouds
80,684,Innisfail,AU,-17.5333,146.0333,82.60,70,69,1.39,broken clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Port Hedland,AU,82.45,overcast clouds,-20.3167,118.5667,
3,Tual,ID,83.91,overcast clouds,-5.6667,132.7500,
23,Hilo,US,80.26,scattered clouds,19.7297,-155.0900,
24,Hobart,AU,80.02,few clouds,-42.8794,147.3294,
29,Kununurra,AU,80.58,scattered clouds,-15.7667,128.7333,
38,Hithadhoo,MV,82.20,few clouds,-0.6000,73.0833,
48,Vaini,TO,84.36,scattered clouds,-21.2000,-175.2000,
69,Balabac,PH,81.00,overcast clouds,7.9868,117.0645,
73,Gold Coast,AU,87.39,broken clouds,-28.0000,153.4333,
76,Flinders,AU,85.05,few clouds,-34.5833,150.8552,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset = ['Hotel Name'])
clean_hotel_df.reset_index(drop=True)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Port Hedland,AU,82.45,overcast clouds,-20.3167,118.5667,The Esplanade Hotel (Accommodation section clo...
1,Tual,ID,83.91,overcast clouds,-5.6667,132.7500,Grand Vilia Hotel
2,Hilo,US,80.26,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
3,Hobart,AU,80.02,few clouds,-42.8794,147.3294,Mantra on Collins Hobart
4,Kununurra,AU,80.58,scattered clouds,-15.7667,128.7333,Hotel Kununurra
...,...,...,...,...,...,...,...
76,Libertador General San Martin,AR,80.98,overcast clouds,-23.8064,-64.7876,Posada del Sol
77,Sinaloa,MX,80.11,scattered clouds,25.0000,-107.5000,
78,Mareeba,AU,83.48,overcast clouds,-17.0000,145.4333,Trinity Plains Tourist Park
79,Paracuru,BR,82.42,scattered clouds,-3.4100,-39.0306,Hotel Vento Brasil
80,Innisfail,AU,82.60,broken clouds,-17.5333,146.0333,Moondarra Motel

In [16]:
# 8a. Create the output File (CSV)
city_data_df.to_csv('WeatherPy_Vacation.csv')

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv('WeatherPy_Vacation.csv', index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))